body {
    margin: 0;
    display: grid;
    height: 100vh;
    overflow: hidden;
    max-width: 100vw;
    text-align: center;
    place-items: center;
    background-color: #0b2434;
    font-family: 'Karla', sans-serif;
}

main {
    height: 400px;
    padding: 1rem;
    display: flex;
    max-width: 500px;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    background: whitesmoke;
    justify-content: space-evenly;
}

.title {
    margin: 0;
    color: black;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    font-family: Alegreya Sans SC, sans-serif;
}

p {
    margin-top: 0;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.dice-container {
    gap: 20px;
    display: grid;
    margin-bottom: 20px;
    grid-template: auto auto / repeat(5, 1fr);
}

.die-face {
    width: 50px;
    height: 50px;
    display: flex;
    cursor: pointer;
    grid-row: span 1;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
}

.die-num {
    font-size: 2em;
    font-weight: lighter;
}

.roll-dice {
    height: 45px;
    width: 140px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 6px;
    background-color: #5035FF;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.18);
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.roll-dice:focus {
    outline: none;
}